<h2 id="pbkdf2">PBKDF2</h2>
<span>One Way Encryption</span>
<div class="container">
    <form action="/webform/pbkdf2/enc" method="post">
        <div class="block-container">
            <div class="left">
                <div class="item">
                    <span class="identity">
                        Plaintext
                    </span>
                    <textarea name="pbkdf2-plaintext-textarea" class="pbkdf2-plaintext-textarea"><%= pbkdf2PlaintextTextArea %></textarea>
                </div>
            </div>

            <div class="middle">
                <button type="submit" class="encrypt"> Encrypt </button>
            </div>

            <div class="right">
                <span class="identity">
                    Cipher
                </span>
                <textarea id="" name="pbkdf2-cipher-textarea" readonly><%= pbkdf2CipherTextArea %></textarea>
            </div>
        </div>
    </form>
</div>